<div class="row">
    <div class="col-md-8">
        <f:if condition="{record.description}">
            <div class="w-100 d-inline-block">
                <f:format.html>{record.description}</f:format.html>
            </div>
            <br />
        </f:if>
        <p>
            <f:if condition="{record.name}">
                <strong>{record.name}</strong><br />
            </f:if>
            <f:if condition="{record.function}">
                {record.function}<br />
            </f:if>
        </p>
        <p>
            <f:if condition="{record.street}">
                {record.street}<br />
            </f:if>
            <f:if condition="{record.city}">
                {record.zip} {record.city}<br />
            </f:if>
            <f:if condition="{record.mobile}">
                <a href="tel:{record.mobile}" target="_blank">{record.mobile}</a><br />
            </f:if>
            <f:if condition="{record.phone}">
                <a href="tel:{record.phone}" target="_blank">{record.phone}</a><br />
            </f:if>
            <f:if condition="{record.email}">
                <f:link.email email="{record.email}" target="_blank"/><br />
            </f:if>
            <f:if condition="{record.link}">
                <f:link.typolink parameter="{record.link}" target="_blank" /> 
            </f:if>                         
        </p>
    </div>
    <div class="col-md-4">        
        <f:if condition="{record.images}">
            <figure class="image">
                <f:image image="{record.images}"
                         alt="{record.title}"
                         title="{record.title}"
                         width="{settings.thumbnail.maxWidth}"
                         treatIdAsReference="1" />
            </figure>
        </f:if>
    </div>
</div>
